@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Mono:ital,wght@0,400;0,500;1,200&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.App{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.head{
    color: #61dafb;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    word-spacing: 5px;
    font-size: 5rem;
    text-align: center;
    padding: 0rem 5rem 0 5rem;
}

.container_1{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2rem 0;
    padding-left: 7rem;
    width: 100%;
}

.head_2{
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-weight: 400;
    font-size: 2rem;
    margin-right: 3rem;
    text-align: left;
}

.inputArea{
    height: 4rem;
    width: 7rem;
    color: #0d5569;
    font-size: 3rem;
    border-radius: 8px;
    border: 5px solid rgb(126, 126, 126);
}

.container_2{
    width: 80%;
    background: white;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset 25px 25px 44px #cacaca,
                inset -25px -25px 44px #f6f6f6;
}

.container_2 > h2{
    display: inline-block;
    margin: 0.5rem 0;
}

.container_2 > span{
    font-size: 1.5rem;
    color: #0d5569;
}